<%= form_with(model: metodo_pago) do |form| %>
  <% if metodo_pago.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(metodo_pago.errors.count, "error") %> prohibited this metodo_pago from being saved:</h2>

      <ul>
        <% metodo_pago.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :code, style: "display: block" %>
    <%= form.text_field :code %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :string, style: "display: block" %>
    <%= form.text_field :string %>
  </div>

  <div>
    <%= form.label :producto_id, style: "display: block" %>
    <%= form.text_field :producto_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
