<div id="<%= dom_id metodo_pago %>">
  <p>
    <strong>Code:</strong>
    <%= metodo_pago.code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= metodo_pago.name %>
  </p>

  <p>
    <strong>String:</strong>
    <%= metodo_pago.string %>
  </p>

  <p>
    <strong>Producto:</strong>
    <%= metodo_pago.producto_id %>
  </p>

</div>
