<p style="color: green"><%= notice %></p>

<%= render @metodo_pago %>

<div>
  <%= link_to "Edit this metodo pago", edit_metodo_pago_path(@metodo_pago) %> |
  <%= link_to "Back to metodo pagos", metodo_pagos_path %>

  <%= button_to "Destroy this metodo pago", @metodo_pago, method: :delete %>
</div>
